.right-aligned-button {
	display: block;
    margin-left: auto;
    margin-right: auto; /* Default margin-right */
    margin-top: 20px;
	font-weight: bolder;
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #1e90ff;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
}
  
  @media (max-width: 600px) {
    .right-aligned-button {
      margin-right: auto;
      margin-left: auto; /* Apply this style when max-width is 600px */
    }
  }
  